SLN_Proyect_ExperienciasFormativas_4toCiclo/Dominio.Entidad/obj/
SLN_Proyect_ExperienciasFormativas_4toCiclo/Dominio.Entidad/bin/
*.dll
*.cache
*.exe
*.pdb
SLN_Proyect_ExperienciasFormativas_4toCiclo/Dominio.Negocio/obj/Debug/Dominio.Negocio.csproj.FileListAbsolute.txt
SLN_Proyect_ExperienciasFormativas_4toCiclo/.vs/SLN_Proyect_ExperienciasFormativas_4toCiclo/config/applicationhost.config
