
@{
    ViewBag.Title = "login";
}

<h2>LOGIN</h2>


<div class="container">
    <form action="UsuarioController" method="post">

        <div class="">
            <br />
            <div>
                <label>USUARIO</label>
                <input type="text" name="cod_usuario" class="form-control" />
            </div>
            <br />
            <div>
                <label>PASSWORD</label>
                <input type="text" name="pass_usuario" class="form-control" />
            </div>
            <br />
            <div>
                <input type="button" value="ACCEDER AL SISTEMA" class="btn btn-success" />
            </div>


        </div>

    </form>
</div>

