@using Microsoft.Reporting.WebForms;
@using ReportViewerForMvc;
@{
    ViewBag.Title = "reporteMantenimiento";
}

<hr />
<h2>Reporte de Mantenimientos</h2>
<hr />
<div class="alert alert-success">
    Cantidad de Registros: @ViewBag.CONTADOR <br />
</div>
<div class="text-center">
    @Html.ReportViewer(ViewBag.REPORTE as ReportViewer, new { @style = "height:600px;width:800px;" })
</div>